@import "../../../styles/app.scss";

.header {

  &__top-border {
    border-top: 8px solid $color-maroon;
    margin-bottom: 14px;
  }

  &__bottom-border {
    border-bottom: 8px solid $color-black;
    margin-top: 14px;
  }

  &__logo {
    background-image: url('../../../images/RE04LogoSVG.svg');
  }

  &__account-header-links {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__account-header-links a {
    font-size: 13px;
    color: $color-darkgrey;
  }

  &__account-info {
    font-size: 13px;
    font-weight: bold;
    color: $color-maroon;
  }

  &__basket {
    height: 48px;
    width: 48px;
    float: right;
    background-image: url('../../../images/Basket.jpg');
  }

  &__giving-history {
    height: 48px;
    width: 48px;
    float: right;
    background-image: url('../../../images/GivingHistory.jpg');
  }

  &__tabpanel-background {
    background-color: $color-beige;
    margin: 0px -15px;
  }

  &__tab-pane {
    height: 182px;
    background-color: #fff;
  }

  &__tab-pane .row {
    margin: 0px;
  }

  &__tab-pane .row .cell {
    margin: 16px 0px;
    height: 145px;
    text-align: center;
    border-right: 1px solid #e0e3e2;
  }

  &__tab-pane .row .cell.noborder {
    border-right: none;
  }

  &__tab-pane .row .cell a {
    color: #44464a;
    margin-top: 24px;
    display: inline-block;
  }

  &__tab-pane .row .cell a img {
    margin-bottom: 20px;
  }

  &__tab-pane .row .cell a.rewards-home {
    font-weight: bold;
    color: #bb0826;
  }
}
